<!DOCTYPE HTML>
<!--
	Hyperspace by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Register</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->

		<!-- Google Analytics -->
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-93948712-1', 'auto');
		  ga('send', 'pageview');

		</script>

	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<a href="/landing" class="title"><img class="logo" src="images/dounoa-network.jpg"></a>
				<nav>
					<ul>
						<li><a href="login">Have an Account? Log In</a></li>
					</ul>
				</nav>
			</header>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<section id="main" class="wrapper">
						<div class="inner">
							<h1 class="major">Sign Up Now</h1>
							<div class="split style2">
								<section>
									<% if(error) { %>
										<p class="error"><%= error %><p>
									<% } %>
	                <form method="post" action="/register">
	                  <div>
	                    <label for="name">Name</label>
	                    <input type="text" name="name" id="name" />
	                  </div>
	                  <div>
	                    <label for="email">Email</label>
	                    <input type="text" name="email" id="email" />
	                  </div>
	                  <div class="field half first">
	                    <label for="password">Password</label>
	                    <input type="password" name="password" id="password" />
	                  </div>
										<div class="field half">
	                    <label for="confirm">Confirm Password</label>
	                    <input type="password" name="confirm" id="confirm" />
										</div>
	                  <ul class="actions">
	                    <li><a href="/" class="button submit">Sign Up</a></li>
	                    <div id="display"></div>
	                  </ul>
	                </form>
	              </section>
								<section>
									<iframe width="560" height="350" src="https://www.youtube.com/embed/v9dNqFCG2dQ" frameborder="1" allowfullscreen></iframe>
								</section>
							</div>
						</div>
					</section>

			</div>

		<!-- Footer -->
			<footer id="footer" class="wrapper alt">
				<div class="inner">
					<ul class="menu">
						<li>&copy; Untitled. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

	</body>
</html>
